---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import soapImage from "../assets/images/products/soap1.jpg";
import soapImage2 from "../assets/images/products/soap2.jpg";
import logo from "../assets/images/brand/logo words.svg";
import Card from "../components/Card.astro";
---

<Layout title="Clark's Natural Goods">
  <section
    class="p-10 pt-40 md:p-40 lg:p-40 min-h-svh relative overflow-hidden"
  >
    <video
      id="bgVid"
      class="absolute top-0 left-0 object-cover min-h-full min-w-full opacity-75"
      src="./background.mp4"
      autoplay
      muted
      loop
      preload="auto"></video>
    <div class="relative flex flex-col gap-24 md:gap-24">
      <img
        src={logo.src}
        height={logo.height}
        width={logo.width}
        alt="Clark's Natural Goods Logo"
        class="text-center mx-auto drop-shadow"
      />
      <p class="text-2xl lg:text-4xl font-bold sm:p-2 drop-shadow text-center">
        Made for the greater good.
      </p>
      <a
        href="https://shop.clarksnaturalgoods.com/products/body-soap"
        class="p-4 bg-amber-50 border-2 border-amber-200 rounded mx-auto px-8 transition hover:scale-105"
      >
        Shop Natural Skincare
      </a>
    </div>
  </section>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex justify-center items-center px-4"
  >
    <h1 class="text-4xl lg:text-6xl text-center">
      Homemade Soap Crafted with Love
    </h1>
  </section>
  <section
    class="text-2xl py-24 px-10 lg:px-48 xl:px-0 xl:w-[50%] xl:max-w-[1024px] mx-auto lg:text-4xl min-h-svh flex flex-col justify-evenly items-center gap-8"
  >
    <p>
      At <span class="font-bold">Clark's Natural Goods</span> we're dedicated to
      crafting handmade soap with simplicity and transparency. Each bar of soap is
      made with pure ingredients that contain no synthetics or additives, to nourish
      and support healthy, glowing skin.
    </p>
    <p>
      What started as a personal journey to find relief from eczema has
      transformed into a passion for creating gentle, handcrafted soap designed
      for all skin types.
    </p>
    <p>
      After years of refining our formula, we have developed a soap that is not
      only safe for sensitive skin but also enriched with nourishing properties,
      ensuring that each wash delivers a calming and soothing experience.
    </p>
  </section>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex justify-center items-center px-4"
  >
    <h2 class="text-4xl lg:text-6xl text-center">
      Natural Ingredients with a Purpose
    </h2>
  </section>
  <section
    class="text-2xl lg:text-4xl py-24 px-10 lg:px-48 xl:px-0 xl:w-[50%] xl:max-w-[1024px] mx-auto min-h-svh gap-8 flex-col flex justify-evenly items-start"
  >
    <Image
      class:list="aspect-square sm:aspect-auto object-cover"
      src={soapImage}
      alt="Handmade soap resting on a log surrounded by wildflowers"
    />
    <p>
      Our soaps are thoughtfully crafted with pure, natural ingredients chosen
      for their nourishing qualities and skin-loving benefits.
    </p>
    <div class="flex flex-wrap gap-4 text-base md:text-xl">
      <Card
        title="Coconut"
        subtitle="Cocos nucifera"
        body="Cleanses deeply while keeping skin hydrated and soft, adding a natural foaminess to the soap."
      />
      <Card
        title="Palm"
        subtitle="Elaeis guineensis"
        body="Creates a hard, long-lasting bar and provides a creamy lather that leaves skin feeling smooth."
      />
      <Card
        title="Olive"
        subtitle="Olea europaea"
        body="Soothes and moisturizes sensitive skin, while adding a gentle cleansing effect without stripping oils."
      />
      <Card
        title="Avocado"
        subtitle="Persea americana"
        body="Nourishes the skin with vitamins and offers deep hydration for a smooth and radiant feel."
      />
      <Card
        title="Castor"
        subtitle="Ricinus communis"
        body="Enhances lather, giving the soap a rich, creamy texture while keeping skin moisturized."
      />
    </div>
    <p class="mt-8">Scented with these therapeutic essential oils:</p>
    <div class="flex flex-wrap gap-4 text-base md:text-xl">
      <Card
        title="Tea Tree"
        subtitle="Melaleuca alternifolia"
        body="Known for its natural cleansing properties, tea tree oil helps to purify and refresh the skin."
      />
      <Card
        title="Clove Bud"
        subtitle="Syzygium aromaticum"
        body="Adds a warm, spicy scent while providing a soothing effect on the skin."
      />
      <Card
        title="Lavender"
        subtitle="Lavandula angustifolia"
        body="Calms and relaxes the skin, promoting a soothing cleanse with a pleasant floral fragrance."
      />
    </div>
  </section>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex justify-center items-center px-4"
  >
    <h2 class="text-4xl lg:text-6xl text-center">
      Why Choose Our Natural Bar Soap?
    </h2>
  </section>
  <section
    class="text-2xl lg:text-4xl py-24 px-10 lg:px-48 xl:px-0 xl:w-[50%] xl:max-w-[1024px] mx-auto min-h-svh gap-8 flex-col flex justify-evenly items-center"
  >
    <Image
      class:list="aspect-square sm:aspect-auto object-cover"
      src={soapImage2}
      alt="Handmade soap resting on a field of grass"
    />
    <p>
      <h3 class="font-bold text-3xl lg:text-4xl">Crafted with Transparency</h3>
      We believe you should know exactly what goes into your skincare. Our simple,
      holistic recipes are made with ingredients you can trust.
    </p>
    <p>
      <h3 class="font-bold text-3xl lg:text-4xl">
        A Commitment to You and the Planet
      </h3>
      We are dedicated to creating products that are not only good for you, but are
      good for the planet. We are committed to using zero synthetics and creating
      as little waste as possible.
    </p>
    <p>
      <h3 class="font-bold text-3xl lg:text-4xl">
        For Sensitive Skin and Beyond
      </h3>
      While created with sensitive skin in mind, our soap is for everyone. Enjoy
      a soothing, calming cleanse that benefits all skin types.
    </p>

    <p class="font-bold text-3xl lg:text-4xl">
      Join us in embracing skincare that's gentle, effective, and made with
      love.
    </p>
    <a
      href="https://shop.clarksnaturalgoods.com/products/body-soap"
      class="p-4 bg-[#51910A] text-amber-50 border-2 border-emerald-700 rounded mx-auto px-8 transition hover:scale-105 text-xl w-full sm:w-1/2 text-center"
    >
      Shop Natural Skincare
    </a>
  </section>
  <section
    class="bg-[#272b22] h-48 text-amber-50 flex justify-center items-center px-4"
  >
    <h2 class="text-4xl lg:text-6xl text-center">Want to know more?</h2>
  </section>
  <section
    class="bg-[#272b22] text-amber-50 text-2xl lg:text-4xl pb-12 px-10 lg:px-48 xl:px-0 w-full flex-col flex justify-between items-center"
  >
    <div
      class="xl:w-[50%] mx-auto flex flex-col justify-between items-center gap-8"
    >
      <div
        id="thankYou"
        class="text-[#272b22] text-base lg:text-2xl bg-amber-50 rounded border border-amber-200 shadow mx-auto p-12 hidden"
      >
        <p class="text-center font-bold text-2xl lg:text-4xl">Thank you!</p>
        Thank you for subscribing!
      </div>

      <div id="formWrapper" class="flex flex-col gap-4">
        <p class="py-4">
          Sign up for our newsletter and be the first to know about new
          products, special offers, and tips for natural skincare. We have a lot
          planned for the future and we don't want you to miss it!
        </p>
        <form
          id="emailForm"
          class="flex w-full justify-center items-center flex-col gap-4"
        >
          <input
            type="email"
            class="rounded text-center w-full sm:w-1/2 p-4 border border-amber-200 bg-amber-50 text-[#272b22]"
            name="email"
            id="emailInput"
            required
            placeholder="Enter your email"
          />
          <button
            type="submit"
            class="w-full sm:w-1/2 p-4 border-2 border-amber-200 rounded px-8 transition hover:scale-105 text-center text-2xl"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </section>
</Layout>

<script>
  const emailForm = document.getElementById("emailForm")! as HTMLFormElement;
  const thankYou = document.getElementById("thankYou")! as HTMLElement;
  const formWrapper = document.getElementById("formWrapper")! as HTMLElement;
  const emailInput = document.getElementById("emailInput")! as HTMLInputElement;
  const jumpToTopBtn = document.getElementById(
    "jumpToTop"
  )! as HTMLButtonElement;

  jumpToTopBtn?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });

  emailForm.addEventListener("submit", (e: SubmitEvent) => {
    e.preventDefault();
    formWrapper.classList.toggle("hidden");
    thankYou.classList.toggle("hidden");
    fetch("/email/send", {
      method: "POST",
      body: JSON.stringify({ email: emailInput.value }),
    });
  });
</script>
